.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  /* left: 0; */
  right: 0;
  width: 70%;
  max-width: 300px;
  z-index: 200;
  /* transform: translateX(-100%); */
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding: 6px 0px;
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;
  vertical-align: center;
}

.side-drawer .divider {
  margin: 8px auto;
  height: 1px;
  width: 80%;
  background-color: #757575;
}

.side-drawer ul {
  margin: 0;
  padding: 0 40px;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-drawer ul li {
  margin: 3px 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.side-drawer ul li img {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  border: 1px solid #222;
}

.side-drawer ul li span {
  color: #000000;
  font-size: 1rem;
  margin-left: 10px;
}

.side-drawer ul li span:hover {
  color: #800000;
  cursor: default;
}

/* @media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
} */